################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QuanLyBanDoChoiLEGO/v16
/QuanLyBanDoChoiLEGO/bin
/QuanLyBanDoChoiLEGO/obj